/* réalisation de la barre de navigation des menus*/
header{
    background-image: url(./Assets/Images/business-woman-2071342.jpg);
    background-size: 100%;
    background-position: 0% 25%;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    margin: auto;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 20%;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: rgba(54, 54, 54, 0.63);
    font-size: 20px;
}
#Logo p{
    display: flex;
    justify-content: center;
    width: 10%;
    font-size: 30px;
}
nav ol{
    display: flex;
    justify-content: space-around;
    width: 17%;
    align-items: center;
}
nav ol a{
    text-decoration: none;
    color: rgba(54, 54, 54, 0.63);
    font-size: 20px;
}
ol{
    list-style: none;
}
/* texte et boutton centré sur l'image */
.intro{
    width: 55%;
    margin-left: 500px;
}
h1{
    color: white;
    font-size: 80px;
    width: 100%;
}
.button{
    display: flex;
    margin-bottom: 150px;
}
/* Bdesign bouton et mise en place*/
#graybutton {
    border-radius: 5px;
    display: flex;
    padding: 1px;
    width: 23%;
    background-color:rgba(73, 72, 72, 0.514);
    border: solid 2px white;
}
#graybutton p {
    color: white;
    width: 100%;
    display: flex;
}
#graybutton a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}
/* hover du bouton gris */
#graybutton:hover{
    background-color: rgb(73, 72, 72);
}
#greenbutton {
    border-radius: 5px;
    display: flex;
    padding: 1px;
    width: 35%;
    background-color:rgb(6, 180, 6);
    margin-left: 10px;
    width: 23%;
}
#greenbutton p {
    color: white;
    width: 100%;
    display: flex;
}
#greenbutton a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}
/* hover du bouton vert*/
#greenbutton:hover{
    background-color: rgb(5, 167, 5);
}
/* mise en place de l'icône*/
.fa-play{
    margin-top: -5px;
}
/* phrase en bas du header*/
#phraseintro{
    width: 50%;
    margin: auto;
}
#phraseintro p{
    width: 25%;
    margin: auto;
    font-size: 20px;
    color: rgba(54, 54, 54, 0.63);
    padding-block-end: 30px;
}
#fleche{
    margin:auto;
    width: 30px;
    background: rgb(6, 180, 6);
    border-radius: 50px;
}
#fleche p{
    margin: 1px;
    width: 30px;
    font-size: 25px;
    color:white;
    transform: rotate(90deg);
}
/* Début du main*/
/* Contenu de id=entete*/
.entete{
    margin-top: 50px;
    width: 100%;
}
.entete h1{
    font-size: 50px;
    width: 25%;
    margin:auto;
    text-align: center;
}
.entete p{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}
/* Galerie photo*/
#image{
    display: flex;
    margin-top: 50px;
    background-color: rgb(243, 243, 243);
}
/* Première ligne galerie d'image*/
#i1{
    position: relative;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
#i1 figure{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px gray;
}
#i1 figure figcaption h1{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
#i1 figure figcaption p{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
#i1 figure img{
    width: 100%;
    border-radius: 5px;
}
#image2{
    display: flex;
    background-color:rgb(243, 243, 243);
    margin-bottom: 50px;
}
/* Deuxième ligne galerie d'image*/
#i2{
    position: relative;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
#i2 figure{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px gray;
}
#i2 figure figcaption h1{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
#i2 figure figcaption p{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
#i2 figure img{
    width: 100%;
    border-radius: 5px;
}
/* mise en place de la section responsive*/
section #ordi{
    width: 100%;
}
#ordi img{
    display: flex;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}
/* texte de la section ordi*/
#ordi h1{
    width: 50%;
    font-size: 50px;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
}
#ordi p{
    width: 50%;
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}
/* ligne d'icone 1 */
section#icone{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 50px;
}
#power{
    width: 25%;
}
#power h1{
    text-align: center;
    width: 100%;
    font-size: 30px;
}
#power i{
    margin-left: 170px;
    padding: 30px;
    border-radius: 100px;
    text-align: center;
    color: rgb(6, 180, 6);
    background-color: rgba(25, 255, 25, 0.7);
}
#power p{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
#background{
    background-color: rgba(6, 180, 6, 0.70);
}
/* ligne d'icone 2 */
section#icone2{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
#power{
    width: 25%;
}
#power h1{
    text-align: center;
    width: 100%;
    font-size: 30px;
}
#power i{
    margin-left: 170px;
    padding: 30px;
    border-radius: 100px;
    text-align: center;
    color: rgb(6, 180, 6);
    background-color: rgba(25, 255, 25, 0.7);
}
#power p{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
/* section liste et ordi*/
.desordi{
    display: flex;
    margin-top: 100px;
}
#listordi{
    width: 70%;
    margin-left: 350px;
}
#listordi h1{
    color: black;
    margin-top: -10px;
}
#checkettext{
    display: flex;
}
#check{
    width: 3%;
    color: rgb(6, 180, 6);
}
#textcheck {
    margin-left: 25px;
}
/* Bouton fin de liste */
#buttonmore {
    border-radius: 5px;
    display: flex;
    padding: 1px;
    background-color:rgb(6, 180, 6);
    margin-top: 50px;
    margin-left: 50px;
    width: 20%;
}
#buttonmore a {
    color: white;
    text-decoration: none;
}
#buttonmore p {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
}
/* hover du bouton vert*/
#buttonmore:hover{
    background-color: rgb(5, 167, 5);
}
#ordilist{
    width: 30%;
    display: flex;
}




