/* réalisation de la barre de navigation des menus*/
header{
    background-image: url(./Assets/Images/Building.jpg);
    box-shadow: inset 3000px 0 0 0 rgba(122, 120, 120, 0.719);
    background-size: 100%;
    background-position: 0% 20%;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    margin: auto;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 20%;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: rgba(54, 54, 54, 0.63);
    font-size: 20px;
}
#logo a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
}
nav ol{
    display: flex;
    justify-content: space-around;
    width: 17%;
    align-items: center;
}
nav ol a{
    text-decoration: none;
    color: rgba(54, 54, 54, 0.63);
    font-size: 20px;
}
ol{
    list-style: none;
}
.intro{
    width: 55%;
    margin: auto;
    padding: 50px;
}
.intro p{
    color: white;
    text-align: center;
    margin-bottom: 70px;
    font-size: 25px;
}
.intro h1{
    color: white;
    font-size: 60px;
    width: 100%;
    text-align: center;
}
#phraseintro p{
    width: 50%;
    margin: auto;
    font-size: 20px;
    color: rgba(185, 185, 185, 0.986);
    text-align: center;
}
#fleche{
    width: 30px;
    background: rgb(6, 180, 6);
    border-radius: 50px;
    text-align: center;
    margin: auto;
}
#fleche p{
    width: 30px;
    font-size: 25px;
    color:white;
    transform: rotate(90deg);
}
/* lien actif dans le menu*/
#lienactif a{
    color: white;
}
main{
    margin-top: 50px;
}
/* mise en place de la section responsive*/
section #ordi{
    width: 100%;
    margin: auto;
    margin-left: 20px;
}
#ordi img{
    display: flex;
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
}
/* texte de la section ordi*/
#ordi h1{
    width: 50%;
    font-size: 50px;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
    color:black;
}
#ordi p{
    width: 50%;
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}
/* ligne d'icone 1 */
section#icone{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 50px;
}
#power{
    width: 25%;
}
#power h1{
    text-align: center;
    width: 100%;
    font-size: 30px;
}
#power i{
    margin-left: 170px;
    padding: 30px;
    border-radius: 100px;
    text-align: center;
    color: rgb(6, 180, 6);
    background-color: rgba(25, 255, 25, 0.7);
}
#power p{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
#background{
    background-color: rgba(6, 180, 6, 0.70);
}
/* ligne d'icone 2 */
section#icone2{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
#power{
    width: 25%;
}
#power h1{
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: black;
}
#power i{
    margin-left: 170px;
    padding: 30px;
    border-radius: 100px;
    text-align: center;
    color: rgb(6, 180, 6);
    background-color: rgba(25, 255, 25, 0.7);
}
#power p{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
/* section liste et ordi*/
.desordi{
    display: flex;
    margin-top: 100px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 100px;
}
#listordi{
    width: 70%;
    margin-left: 350px;
    margin-top: 20px;
}
#listordi h1{
    color: black;
    margin-top: -10px;
    font-size: 50px;
}
#checkettext{
    display: flex;
}
#check{
    width: 3%;
    color: rgb(6, 180, 6);
}
#textcheck {
    margin-left: 25px;
}
/* Bouton fin de liste */
#buttonmore {
    border-radius: 5px;
    display: flex;
    padding: 1px;
    background-color:rgb(6, 180, 6);
    margin-top: 50px;
    margin-left: 50px;
    width: 20%;
    margin-bottom: 20px;
}
#buttonmore a {
    color: white;
    text-decoration: none;
}
#buttonmore p {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
}
/* hover du bouton vert*/
#buttonmore:hover{
    background-color: rgb(5, 167, 5);
}
#ordilist{
    width: 30%;
    display: flex;
}
/* section liste et ordi2*/
.desordi2{
    display: flex;
    margin-top: 100px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 100px;
}
#listordi2{
    width: 70%;
    margin-left: 350px;
    margin-top: 20px;
}
#listordi2 h1{
    color: black;
    margin-top: -10px;
    font-size: 50px;
}
#checkettext2{
    display: flex;
}
#check2{
    width: 3%;
    color: rgb(6, 180, 6);
}
#textcheck2 {
    margin-left: 25px;
}
/* Bouton fin de liste */
#buttonmore2 {
    border-radius: 5px;
    display: flex;
    padding: 1px;
    background-color:rgb(6, 180, 6);
    margin-top: 50px;
    margin-left: 50px;
    width: 20%;
    margin-bottom: 20px;
}
#buttonmore2 a {
    color: white;
    text-decoration: none;
}
#buttonmore2 p {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
}
/* hover du bouton vert*/
#buttonmore2:hover{
    background-color: rgb(5, 167, 5);
}
#ordilist2{
    width: 30%;
    display: flex;
}